.select_currency {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
}

.select_currency:hover .main_cureency {
  color: #e9b109;
}

.main_cureency {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 55px;
}

.main_cureency-active {
  color: #e9b109;
}

.select_icon {
  font-size: 20px;
}

.select_close {
  transform: rotate(90deg);
  transition: all 0.3s;
  user-select: none;
}

.select_open {
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.select_list-currency {
  display: flex;
  gap: 8px;
  padding: 4px 0 4px 8px;
  border-right: 2px solid transparent;
  transition: all 0.3s;
}

.select_list-currency:first-of-type {
  padding: 4px 0 4px 6px;
}

.select_list-currency:first-of-type img {
  width: 20px;
}

.select_list-currency:last-of-type {
  margin-bottom: 0px;
}

.select_list {
  width: 105px;
  position: absolute;
  bottom: -230px;
  left: -40px;
  background: #142241;
  box-shadow: 0px -1px 5px 2px rgba(49, 66, 75, 0.1);
  border-radius: 4px;
  padding: 14px 0px;
  z-index: 1;
}

.display_none {
  display: none;
}

.select_list-currency:hover {
  color: #e9b109;
  border-right: 2px solid #e9b109;
  transition: all 0.3s;
  background-color: #192849;
}

.select_image {
  position: absolute;
  left: -30px;
}

.usd-currency {
  left: -35px;
}

@media screen and (max-width: 1245px) {
  .select_currency {
    display: none;
  }

  .select_currency.active {
    padding: 7px 0;
    width: 100%;
    display: block;
  }

  .select_icon {
    margin-left: auto;
  }

  .select_image {
    position: static;
  }

  .select_list {
    position: static;
    box-shadow: none;
    border-radius: 0px;
  }

  .select_list-currency:first-of-type {
    padding-left: 14px;
  }

  .select_list-currency {
    padding-left: 16px;
  }

  .select_list-currency.active {
    border-left: 1px solid #e9b109;
  }

  .main_cureency {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }
}
